/* Reset เบื้องต้น */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Saraban', sans-serif;
}

/* Header */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #474D4C;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  z-index: 1000;
}

.topbar .logo {
  font-size: 50px;
  font-weight: bold;
}

.topbar .search {
  flex: 1;
  max-width: 400px;
  margin: 0 20px;
  display: flex;
}

.topbar .search input {
  flex: 1;
  padding: 6px 10px;
  border-radius: 20px 0 0 20px;
  border: none;
  outline: none;
}

.topbar .search-btn {
  background: #03A89D;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-right: 10px;
}
.switch input { display: none; }
.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 34px;
  top: 0; left: 0; right: 0; bottom: 0;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: .4s;
}
input:checked + .slider { background-color: #03A89D; }
input:checked + .slider:before { transform: translateX(20px); }
.slider.round { border-radius: 34px; }
.slider.round:before { border-radius: 50%; }

/* Icon buttons */
.icon-btn {
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 60px; /* ต่ำกว่า header */
  left: 0;
  width: 200px;
  height: calc(100% - 60px);
  background: #63CCC9;
  color: white;
  padding: 20px;
}

.sidebar ul li {
  margin-bottom: 15px;
  cursor: pointer;
}
.sidebar ul li ul {
  margin-top: 5px;
  margin-left: 15px;
  list-style: none;
}

